.example-card {
	max-width: 400px;
}

p {
	max-width: 400px !important;
	max-height: 200px !important;
	overflow: auto;
	word-break: break-word;
}

.mat-card-header .mat-card-title {
	height: 60px;
	overflow: hidden;
}

.mat-card-image {
	height: 200px;
}

.mat-card-actions {
	display: flex;
	justify-content: space-evenly;
}

